:root {
  --blue-whale: rgba(3, 37, 76, 1);
  --blue-whale-2: rgba(3, 37, 75, 1);
  --dodger-blue: rgba(42, 157, 244, 1);
  --green-blue: rgba(17, 103, 177, 1);
  --mystic: rgba(223, 232, 238, 1);
  --navy-blue: rgba(24, 123, 205, 1);
  --onahau: rgba(208, 239, 255, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-xl: 21px;
  --font-size-xxl: 24px;

  --font-family-roboto: "Roboto", Helvetica;
}
.roboto-bold-blue-whale-18px {
  color: var(--blue-whale);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-green-blue-18px {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-navy-blue-18px {
  color: var(--navy-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-dodger-blue-18px {
  color: var(--dodger-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-onahau-18px {
  color: var(--onahau);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-white-18px-2 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-blue-whale-24px {
  color: var(--blue-whale);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.frame-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 689px;
  overflow: hidden;
  width: 942px;
}
.frame-1 .address {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 110px;
}
.frame-1 .address-1 {
  height: 24px;
  left: 216px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 110px;
}
.frame-1 .ang-iu-tr {
  height: 24px;
  left: 108px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 110px;
}
.frame-1 .bn-dch-t {
  cursor: pointer;
  letter-spacing: 0.00px;
  margin-left: 17px;
  margin-top: 6.0px;
  min-height: 26px;
  text-align: center;
  width: 146px;
}
.frame-1 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 10.0px;
  margin-left: 31px;
  min-height: 194px;
  width: 434px;
}
.frame-1 .flex-row {
  align-items: center;
  align-self: flex-end;
  display: flex;
  margin-right: 5px;
  min-width: 910px;
}
.frame-1 .frame- {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0px;
  min-width: 432px;
  position: absolute;
  top: 36px;
}
.frame-1 .gi-phn-hi {
  cursor: pointer;
  letter-spacing: 0.00px;
  min-height: 26px;
  text-align: center;
  width: 123px;
}
.frame-1 .gi-phn-hi-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 26px;
  margin-left: 27px;
  margin-top: 6.0px;
  min-width: 121px;
}
.frame-1 .khai-bo-y-t {
  color: rgba(27,60,71,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 21px;
  font-weight: 700;
  height: 29px;
  letter-spacing: 0.00px;
  margin-top: -64px;
  min-height: 29px;
  text-align: center;
  width: 177px;
}
.frame-1 .khi {
  height: 24px;
  left: 216px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 110px;
}
.frame-1 .log-in {
  left: 11px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 2px;
  width: 63px;
}
.frame-1 .number {
  height: 24px;
  left: 108px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 110px;
}
.frame-1 .number-1 {
  height: 24px;
  left: 319px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 110px;
}
.frame-1 .overlap-group {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60812c070afd67277761228b/releases/60812c60d5fcd14c2857017a/img/rectangle-4@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 64px;
  min-width: 942px;
  padding: 12px 27px;
}
.frame-1 .overlap-group1 {
  height: 92px;
  position: relative;
  width: 432px;
}
.frame-1 .overlap-group2 {
  height: 92px;
  margin-top: 10px;
  position: relative;
  width: 434px;
}
.frame-1 .overlap-group3 {
  height: 218px;
  margin-bottom: 8.0px;
  position: relative;
  width: 421px;
}
.frame-1 .overlap-group4 {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60812c070afd67277761228b/releases/60812c60d5fcd14c2857017a/img/poster@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 317px;
  min-width: 1005px;
  padding: 0 340px;
}
.frame-1 .overlap-group5 {
  height: 24px;
  position: relative;
  width: 434px;
}
.frame-1 .overlap-group6 {
  height: 25px;
  margin-left: 23px;
  margin-top: 1.0px;
  position: relative;
  width: 134px;
}
.frame-1 .overlap-group7 {
  align-self: flex-end;
  height: 36px;
  position: relative;
  width: 174px;
}
.frame-1 .overlap-group8 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--onahau);
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -18px;
  margin-left: 31px;
  min-width: 181px;
  padding: 0 1px;
}
.frame-1 .phat-hien-nguoc-xin-covid-19-1 {
  height: 170px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 48px;
  width: 416px;
}
.frame-1 .phone {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 110px;
}
.frame-1 .phone-1 {
  height: 24px;
  left: 216px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 110px;
}
.frame-1 .phone-2 {
  height: 24px;
  left: 108px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 110px;
}
.frame-1 .phone-3 {
  height: 24px;
  left: 324px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 110px;
}
.frame-1 .rectangle- {
  background-color: var(--mystic);
  height: 63px;
  left: 0px;
  position: absolute;
  top: 29px;
  width: 427px;
}
.frame-1 .rectangle--1 {
  background-color: var(--blue-whale-2);
  border-radius: 10px;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 116px;
}
.frame-1 .rectangle-1 {
  height: 25px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 66px;
}
.frame-1 .rectangle-10 {
  background-color: var(--blue-whale-2);
  height: 4px;
  margin-top: 93.0px;
  width: 9px;
}
.frame-1 .rectangle-2 {
  height: 25px;
  left: 66px;
  position: absolute;
  top: 0px;
  width: 68px;
}
.frame-1 .s-ca-nhim {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 110px;
}
.frame-1 .sign-up {
  left: 69px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 3px;
  width: 63px;
}
.frame-1 .t-vong {
  height: 24px;
  left: 324px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 110px;
}
.frame-1 .text-1 {
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 0px;
  width: 421px;
}
.frame-1 .th-gii {
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 118px;
}
.frame-1 .thng-tin-dch-t {
  letter-spacing: 0.00px;
  margin-left: 20px;
  margin-top: 6.0px;
  min-height: 26px;
  text-align: center;
  width: 146px;
}
.frame-1 .tin-tc {
  cursor: pointer;
  letter-spacing: 0.00px;
  margin-left: 16px;
  margin-top: 1.0px;
  min-height: 21px;
  text-align: center;
  width: 63px;
}
.frame-1 .tin-tc-1 {
  color: var(--blue-whale);
  font-family: 'Roboto', Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.00px;
  margin-left: 27px;
  margin-top: 21px;
  min-height: 21px;
  width: 119px;
}
.frame-1 .title {
  left: 17px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 157px;
}
.frame-1 .vector {
  height: 33px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 34px;
}
.frame-1 .vector-1 {
  height: 234px;
  margin-left: 22px;
  width: 2px;
}
.frame-1 .vit-nam {
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 118px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:400,700");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
